
*{
  margin:0;
  padding:0;

}

body{
  background-color:#fafafa;
}

.inputWrapper, .resultsWrapper{
margin: 1em auto 0 auto;
padding: 0.5em
}

.inputWrapper{
  height:4.5rem;
  max-width:400px;
  border:2px solid blanchedalmond;  
}

.searchBox{
  margin: 1em 0 0.5em 0;
  height:2rem;
  max-height: 3rem;
}

.progressBar{
  width:60%;
}

table{
  font-size: 1rem;
  color:black;
  font-family: monospace;
  border:2px solid blanchedalmond;
  border-radius:12px;
  padding:calc(1.2em + 1vh) calc(1em + 2vw) calc(0.6em + 0.5vh) calc(1em + 2vw) ;
  background-color:white;
  height:320px;
  width:360px;
  display:flex;
  flex-direction: column;

}


tbody{
  color:white;
  font-weight: 600;
}

tr.pageInfo{
  color:black;
  font-weight:400;
}



thead>tr{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

th{
  padding: 0.5rem 1rem;
  color:black;
}

th#id{
  align-self:flex-start;
}

th#year{

  margin-left:2rem;

}

td{
  padding:0.5em 1em;
  border-radius:5px;
  height:20px;
  align-self: center;
  justify-self:center;
}






